{% extends 'base.html.twig' %}

{% block title %}Lots{% endblock %}

{% block body %}
    <h1>Lots</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lot.id }}</td>
            </tr>
            <tr>
                <th>Superficie</th>
                <td>{{ lot.superficie }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ lot.region }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ lot.etat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('lots_index') }}">back to list</a>

    <a href="{{ path('lots_edit', {'id': lot.id}) }}">edit</a>

    {{ include('lots/_delete_form.html.twig') }}
{% endblock %}
